name: CD - pipeline

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restore dependencies
        working-directory: ./MenuApi
        run: dotnet restore 

      - name: Build the solution
        working-directory: ./MenuApi
        run: dotnet build --configuration Release --no-restore

      - name: Build docker image
        working-directory: ./MenuApi
        run: docker build -t jose9894/webapi:latest   
